* {
    box-sizing: border-box;
}

:root {
    --text-color: #575d5e;
    --primary-color-black-green: #143c3c;
    --primary-color-black: #152427;
    --text-color-light-gray: #7d8188;
    --Scondery-color: #E2EDDF;
    --text-color-black-gray: #575D5E;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*======= Common ======== */
.container {
    width: 1140px;
    max-width: calc(100% -48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--primary-color-black-green, #143c3c);
}

.line {
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%);
}

.desc__section {
    color: var(--text-color-black-gray, #575D5E);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.desc__section.lv1 {
    color: var(--text-color-light-gray, #7D8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.714;
}

.small-line {
    display: block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
    margin-right: 21px;
}

.title-section {
    color: var(--primary-color-black, #152427);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.125;
}

.heading__section {
    color: var(--primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2381;
}

.heading__section.lv1 {
    color: var(--primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}


/*======= Header ======== */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 13px;
}

.header__right {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    position: relative;
}

.navbar {
    margin-right: 88px;
}

.navbar-items {
    margin-left: 38px;
}

.navbar-items:first-child {
    margin-left: 0;
}

.navbar__link,
.btn {
    color: var(--text-color-black-gray, #575d5e);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    cursor: pointer;
}

.navbar__link.active {
    color: var(--primary-color-black, #152427);
}

.navbar__link.active::before {
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green, #143c3c);
    position: absolute;
    bottom: 0;
}

.btn {
    color: var(--text-color-white, #fff);
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

/*======= Hero ======== */
.hero__body {
    position: relative;
    display: flex;
    padding-top: 60px;
}

.hero-content {
    margin: auto 0;
    margin-right: 76px;
    width: 43.3%;
}

.hero__flowers-content,
.hero__silks-content {
    position: absolute;
    top: 4.6%;
    left: 21.65%;
    z-index: 1;
}

.hero__silks-content {
    left: 26%;
}

.hero__heading {
    max-width: 368px;
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    max-width: 341px;
    margin: 20px 0 42px;
}

.hero__cta {
    min-width: 162px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-left: 36px;
}

.hero__cta:hover {
    cursor: pointer;
}

.hero__half-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--primary-color-black-green);
    border-right-color: transparent;
    border-top-color: trans;
    border-bottom-color: transparent;
    transform: rotate(312deg);
}

.hero__icons {
    width: 43px;
    height: 44px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #83a17d;
    border-radius: 50%;
    border: 3px solid #fff;
    transform: rotate(45deg);
}

.hero__watch-video {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    position: relative;
    width: 56.7%;
    padding-top: 20px;
}

.hero-media__images {
    display: flex;
    gap: 20px;
}

.hero-media__image {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    transition: 0.25s;
    box-shadow: 106px -5px 140px -60px #4dbb9a;
    -webkit-box-shadow: 106px -5px 140px -60px #4dbb9a;
    -moz-box-shadow: 106px -5px 140px -60px #4dbb9a;
    overflow: hidden;
}

.hero-media__image:nth-child(2) {
    transform: translateY(60px);
}

.hero-media__image:last-child {
    margin-right: 20px;
    box-shadow: 0px 0px 0px -200px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px -200px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px -200px rgba(0, 0, 0, 0);
}

.hero__silks-media,
.hero__flowers-media {
    position: absolute;
    right: 0;
    bottom: -20%;
    transform: rotate(180deg);
}

.hero__silks-media {
    right: 7%;
}

/*======= Brands ======== */
.brands {
    margin-top: 170px;
}

.brands__images {
    padding: 85px 122px 87px 121px;
    border-radius: 100.5px;
    background: #e2eddf;
    display: flex;
    align-items: center;
}

.brands__image-google {
    margin-right: 47px;
}

.brands__image-slack {
    margin-right: 51px;
}

.brands__image-discord {
    margin-right: 11px;
}

.brands__image-agworld {
    margin-right: 64px;
}

.brands__image-riotino {
    margin-top: -10px;
    margin-right: 63px;
}

.brands__image-heroku {
    margin-top: -5px;
}

/*======= Services-top ======== */ 
.services {
    margin-top: 115px;
}

.services__title {
    display: flex;
    align-items: center;
}


.services__under-heading {
    position: relative;
    max-width: 520px;
}

.services__under-heading::after {
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black, #152427);
    position: absolute;
    bottom: 18.27%;
    right: 19.8%;
}

.services__under {
    margin-top: 12px;
    display: flex;
    position: relative;
}

.services__arrows-right,
.services__arrows-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--primary-color-black-green);
    color: #fff;
    position: absolute;
    right: 5.26%;
    bottom: 0;
    cursor: pointer;
}

.services__arrows-left {
    color: var(--primary-color-black);
    background: var(--Scondery-color);
    transform: rotate(180deg);
    right: 11%;
}

/*======= Services-body ======== */ 
.services__body {
    display: grid;
    margin-top: 76px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services__block {
    transition: .25s;
    border-radius: 20px;
}

.services__block:hover {
    transform: translateY(-20px);
    box-shadow: 0px 16px 10px 0px rgba(0, 0, 0, 0.05);  
}

.service__image {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.services__content-block {
    padding: 24px 0 23px 18px;
}

.services__desc {
    width: 268px;
    margin-top: 18px;
}

/*======= Team ======== */ 
.team {
    margin-top: 172px;
}

.team__body {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.team__media-block-flowers,
.team__media-block-silks {
    position: absolute;
    z-index: 1;
}

.team__media-block-flowers {
    left: 5%;
    top: -8.8%;
}

.team__media-block-silks {
    left: 9%;
    top: -1%;
}

.team__media-block {
    margin-top: 13px;
    position: relative;
    width: 49.65%;
}

.team_images {
    display: flex;
    gap: 21px;
}

.team__image {
    width: 286px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: -10px -8px 38px -2px rgb(206 236 226);
    -moz-box-shadow: -10px -8px 38px -2px rgb(206 236 226);
    -webkit-box-shadow: -10px -8px 38px -2px rgb(206 236 226);

}

.team__image:first-child {
    margin-top: 77px;
}

.team__status {
    position: relative;
    width: 143px;
    border-radius: 8px;
    background: #FFF;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 19px 17px 11px 17px;
    box-shadow: 0px 7px 10px 0px rgba(154, 154, 154, 0.25);
}


.team__status-title {
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.team__status-balance {
    margin: 6px 0 10px;
}

.team__status-balance,
.team__status-number,
.team__status-loading,
.team__status-text {
    color: var(--text-color-black-gray, #575D5E);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.team__status-number,
.team__status-text {
    color: var(--primary-color-black, #152427);
    font-weight: 500;
}

.team__status-line {
    display: flex;
    margin: 3px 0;
}

.team__status-line-first {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83A17D;
}

.team__status-line-second {
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.team__status-loading {
    margin-left: 50%;
}

.team__status-circle__wrap {
    margin: 3px 0 5px;
    display: inline-block;
    border: 6px solid #EAEAEA;
    border-radius: 50%;
}

.team__status-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary-color-black-green);
}

.team__status-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team_status-icon {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #FFF;
    object-fit: cover;
    margin-left: -10px
}

/*======= Content-block ======== */ 
.team__content-block {
    width: 42.54%;
}

.team__content-block-top {
    display: flex;
    align-items: center;
}

.team__content-block__title {
    margin: 11px 0 36px;
    color: var(--text-color-light-gray, #7D8188);
}

.team__content-block-info {
    display: flex;
    justify-content: space-between;
}

.team__content-block-info-number {
    margin-right: 24px;
}

.team__content-block-info {
    margin-top: 38px;
}

/*======= Process ======== */ 
.process {
    margin-top: 100px;
}

.process__top {
    display: flex;
    align-items: center;
}

.process__main-heading {
    position: relative;
    margin-top: 20px;
    width: 41.84%;
}

.process__main-heading::after {
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black, #152427);
    position: absolute;
    right: -1.887%;
    bottom: 20.2%;
}  

/*======= Process-body ======== */ 
.process__body {
    margin-top: 81px;
}

.process__list {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 33px;
    padding: 57px 41px 35px 30px;
    transition: .25s;
}

.process__list:hover {
    transform: scale(0.9);
    background: var(--scondery-color-light-green, #E2EDDF);
}

.process__number {
    color: var(--primary-color-black-green, #143C3C);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.722;
    margin-right: 64px;
}

.process__link {
    display: block;
    color: rgb(0 151 255 / 82%);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 22px;
    text-decoration: underline;
}

.process__desc {
    color: var(--text-color-light-gray, #7D8188);
    width: 50.18%;
    margin-left: 175px;
}

.process__list:last-child .process__desc {
    margin-left: 242px;
}

.process__list-image {
    position: absolute;
    bottom: 0;
    right: 8.07%;
}

.process__line {
    width: 1131px;
    height: 3px;
    background: linear-gradient(180deg, #83A17D 4.17%, rgba(131, 161, 125, 0.00) 36.46%);
}

/*======= Projects ======== */ 
.projects {
    background: var(--primary-color-black-green);
    margin-top: 148px;
}

.projects__top {
    padding-top: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__left {
    position: relative;
    width: 40.08%;
}

.project__heading {
    color: #E7F9F9;
}

.project__heading::after {
    content: "";
    width: 66px;
    height: 2px;
    background: var(--scondery-color-blue, #83A17D);
    position: absolute;
    bottom: 19.23%;
    right: 21.22%;
}

.projects__right {
    width: 51.75%;
}

.projects__desc {
    color: var(--scondery-color-gray, #6A8383);
}


.projects__browse {
    margin-top: 13px;
    color: #fff;
    margin-right: 26px;
}

/*======= Projects-body ======== */ 
.projects__body {
    position: relative;
    margin-top: 65px;
    padding-bottom: 63px;
}

.project__flowers,
.project__silks {
    position: absolute;
    z-index: 2;
    top: -65px;
    right: -52px;
}

.project__silks {
    top: -162px;
}

.projects__video-wrapper {
    position: relative;
}

.projects__image {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.projects__play-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 999px;
    background: #000000B2;
    position: absolute;
    left: 44.82%;
    top: 39.15%;
    cursor: pointer;
}

.projects__play-button-wrapper:hover {
    opacity: 0.6;
}

/*======= Features ======== */ 
.features {
    margin-top: 140px;
}

.features__top {
    text-align: center;
}

.features__top-heading {
    width: 520px;
    margin: 0 auto;
}

.features__top-title {
    color: var(--text-color-light-gray, #7D8188);
    width: 547px;
    margin: 0 auto;
    margin-top: 20px;
}

.features__body {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 45px;
}

.features__content-block {
    border-radius: 160px;
    padding: 80px 27px 74px 37px;
    text-align: center;
    background: #FFF;
    transition: .25s;
    box-shadow: 0px 10px 15px 0px rgba(111, 120, 111, 0.20);
}

.features__content-block:hover {
    transform: translateY(-30px);
    box-shadow: 0px 36px 30px 0px rgba(111, 120, 111, 0.20);
    border: 1.5px solid #CECECE;
}

.features__body-heading {
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin: 12px 0 13px;
}

/*======= Blogs ======== */ 
.blogs {
    margin-top: 184px;
}

.blog__above {
    display: flex;
    align-items: center;
}

.blogs__above__title {
    margin-bottom: 10px;
}

.blog__under {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.blog__under__heading {
    width: 520px;
    position: relative;
}

.blog__under__heading::after {
    content: "";
    width: 82px;
    height: 3px;
    background: var(--primary-color-black, #152427);
    position: absolute;
    bottom: 20px;
    right: -56px;
}

.blog__under__desc {
    width: 409px;
    color: var(--text-color-light-gray, #7D8188);
}

.blog__body {
    display: grid;
    margin-top: 90px;
    grid-template-columns: repeat(3, 360px);    
    column-gap: 30px;
}

.blogs__image {
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

